.navBar{
    border-bottom: 2px groove white;
    margin: auto;
    text-align: center;
}

ul{
    padding-top: 20px;
    margin-left: -10px;
    margin-bottom: 3%;
}

ul li{
    display: inline;
    border: 4px groove white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkgray;
    font-weight: bolder;
    font-size: 100%;
    width: 30%;
}
ul li:hover{
    background-color: white;
}

li a{
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
}
li a:hover{
    color: black;
}


ul li:hover{
    background-color: white;
}